<!--Main-->
<div
  class="container mx-auto flex flex-col p-8 items-center"
  id="logged-in"
  data-logged-in="{{logged_in}}"
>

  <!--Main Container Title-->
  <h1 class="text-3xl font-bold tracking-tight text-gray-900">
    TL;DR Post
  </h1>

  <!--Card Container-->
  <div class="grid gap-6 m-8">

    <!--First Card-->
    <div
      class="max-w-3xl p-6 border rounded-lg shadow bg-gray-100"
      id="post"
      data-post-id="{{post.post_id}}"
    >
      <h3 class="tracking-tight text-gray-400">{{formatDate post.created_at}}
        by
        {{post.post_username}}
      </h3>
      <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
        {{post.title}}
      </h3>
      <p class="mb-3 font-normal text-gray-500">
        {{post.content}}
      </p>
    </div>

    {{#if comments}}
      {{#each comments}}
        <div class="max-w-3xl p-6 border rounded-lg shadow bg-gray-100">
          <h3 class="tracking-tight text-gray-400">{{formatDate created_at}}
            by
            {{comment_username}}
          </h3>
          <p class="mb-3 font-normal text-gray-500">
            {{content}}
          </p>
        </div>
      {{/each}}
    {{/if}}

    <!--Add New Comment-->
    <form
      class="bg-gray-100 border shadow rounded-lg p-8 sm:px-8 sm:py-8"
      id="comment-form"
    >
      <div class="mb-6">
        <label class="block text-gray-900 text-sm font-bold mb-2" for="comment">
          Add Comment
        </label>
        <textarea
          class="border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
          id="comment"
          name="comment"
          type="text"
          placeholder="Enter your comment"
        ></textarea>
      </div>
      <div class="flex justify-center">
        <button
          class="px-3 py-2 text-white text-sm text-center items-center bg-blue-600 hover:bg-blue-800 transition-colors duration-300 font-medium rounded-lg"
          type="submit"
        >
          Post Comment
        </button>
      </div>
    </form>

  </div>
</div>

<script src="/event-handlers/comment/handleNewComment.js"></script>